.vscode

*/*.test
*/*.out

*/messages.txt

cmd/debug

vendor

docker/babble/babble
docker/dummy/dummy
docker/conf/*

terraform/babble.pem
terraform/terraform.tfstate*
terraform/secret.tfvars
terraform/conf/*
terraform/ips.dat
